[Desktop Entry]
Name=1Password
Exec=/opt/1Password/1password --silent
Terminal=false
Type=Application
Icon=1password
StartupWMClass=com.onepassword.OnePassword
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;x-scheme-handler/onepassword8;
Categories=Office;
X-GNOME-Autostart-enabled=true
