#!/bin/bash

# This hook is called with the current battery percentage when the low battery
# notification is sent. To put it into use, remove .sample from the name.

SOUND_FILE="/usr/share/sounds/freedesktop/stereo/dialog-warning.oga"

if omarchy-cmd-present mpv && [[ -f $SOUND_FILE ]]; then
  mpv --no-video "$SOUND_FILE" >/dev/null 2>&1
fi
