#!/bin/bash

# This hook is called with the snake-cased name of the font that has just been set.
# To put it into use, remove .sample from this file name.

# Example: Show the name of the font that was just set.
# notify-send -u low "New font" "Your new font is $1"
