[Desktop Entry]
Name=Banana Plus
Exec=/opt/appimages/bananaplus.AppImage
Icon=/home/sspaeti/.local/share/applications/icons/Banana.png
Type=Application
Categories=Office;Finance;
Comment=Buchhaltungssoftware
