[Desktop Entry]
Name=Banana Plus
Exec=/opt/appimages/bananaplus.AppImage
Icon=/opt/appimages/bananaplus.AppImage
Type=Application
Categories=Office;Finance;
Comment=Buchhaltungssoftware
