[Desktop Entry]
Version=1.0
Name=Basecamp
Comment=Basecamp Project Management
Exec=omarchy-launch-webapp "https://launchpad.37signals.com"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Basecamp.png
Categories=GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
