[Desktop Entry]
Version=1.0
Name=Bsky
Comment=Bsky
Exec=omarchy-launch-webapp "https://blue.ssp.sh/"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Bsky.png
StartupNotify=true
