[Desktop Entry]
Version=1.0
Name=Claude
Comment=Claude AI
Exec=omarchy-launch-webapp "https://claude.ai/"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Claude AI.png
StartupNotify=true
MimeType=x-scheme-handler/claude;
