[Desktop Entry]
Version=1.0
Name=DeepL Write (Deutsch, German)
Comment=DeepL Write (Deutsch, German)
Exec=omarchy-launch-webapp https://www.deepl.com/en/write
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/DeepL Write (Deutsch, German).png
StartupNotify=true
