[Desktop Entry]
Version=1.0
Name=Focus.music
Comment=Focus.music
Exec=omarchy-launch-webapp https://focus.music/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Focus.music.png
StartupNotify=true
