[Desktop Entry]
Version=1.0
Name=Google Calendar
Comment=Google Calendar
Exec=omarchy-launch-webapp https://calendar.google.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Google Calendar.png
StartupNotify=true
