[Desktop Entry]
Version=1.0
Name=Google Photos
Comment=Google Photos
Exec=chromium --new-window --ozone-platform=wayland --app="https://photos.google.com/" --name="Google Photos" --class="Google Photos"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Google Photos.png
StartupNotify=true
