[Desktop Entry]
Version=1.0
Name=Grammarly
Comment=Grammarly
Exec=omarchy-launch-webapp "https://app.grammarly.com/ddocs/2881779475"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Grammarly.png
StartupNotify=true
