[Desktop Entry]
Version=1.0
Name=Meet Video Google
Comment=Meet Video Google
# use chromium as I manually disabled "use graphic accelariotn when available" as this can crashes computer when having meetings | disable-sync is needed to not crash chromium on opening *.google.com
Exec=chromium --disable-sync https://meet.google.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Meet Video Google.png
StartupNotify=true
