[Desktop Entry]
Version=1.0
Name=Meet Video Google
Comment=Meet Video Google
Exec=omarchy-launch-webapp https://meet.google.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Meet Video Google.png
StartupNotify=true
