[Desktop Entry]
Version=1.0
Name=MS Office
Comment=MS Office
Exec=omarchy-launch-webapp https://m365.cloud.microsoft/search
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/MS Office.png
StartupNotify=true
