[Desktop Entry]
Version=1.0
Name=MS Word
Comment=MS Word
Exec=omarchy-launch-webapp https://word.cloud.microsoft/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/MS Word.png
StartupNotify=true
