[Desktop Entry]
Version=1.0
Name=NirvanaHQ Todo
Comment=NirvanaHQ Todo
Exec=omarchy-launch-webapp "https://focus.nirvanahq.com/"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/NirvanaHQ Todo.png
StartupNotify=true
