[Desktop Entry]
Type=Application
Name=Omasnap
Comment=Capture and annotate a screenshot
Exec=omasnap
Icon=camera-photo
Terminal=false
NoDisplay=false
Categories=Graphics;
StartupNotify=false
