[Desktop Entry]
Type=Application
Name=Omasnap
Comment=Capture and annotate a screenshot
Exec=/home/sspaeti/.local/bin/omasnap
Icon=camera-photo
Terminal=false
NoDisplay=false
Categories=Graphics;
StartupNotify=false
