[Desktop Entry]
Version=1.0
Name=Salt TV
Comment=Stream TV
Exec=omarchy-launch-webapp "https://tv.salt.ch/channels/favorites"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/salt.png
StartupNotify=true
