[Desktop Entry]
Version=1.0
Name=SMS
Comment=SMS
Exec=omarchy-launch-webapp https://messages.google.com/web/conversations
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/SMS.png
StartupNotify=true
