[Desktop Entry]
Version=1.0
Name=SSP Brain
Comment=SSP
Exec=omarchy-launch-webapp "http://ssp.sh/brain/"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/SSP.png
StartupNotify=true
