[Desktop Entry]
Version=1.0
Name=SSP
Comment=SSP
Exec=omarchy-launch-webapp "https://www.ssp.sh"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/SSP.png
StartupNotify=true
