[Desktop Entry]
Version=1.0
Name=Translate (DeepL)
Comment=Translate (DeepL)
Exec=omarchy-launch-webapp https://www.deepl.com/en/translator
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Translate (DeepL).png
StartupNotify=true
