[Desktop Entry]
Version=1.0
Name=Typefully
Comment=Typefully
Exec=omarchy-launch-webapp https://typefully.com/calendar
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Typefully.png
StartupNotify=true
