[Desktop Entry]
Name=Windows
Comment=Start Windows VM via Docker and connect with RDP
Exec=uwsm app -- omarchy-windows-vm launch
Icon=/home/sspaeti/.local/share/applications/icons/windows.png
Terminal=false
Type=Application
Categories=System;Virtualization;
