[Desktop Entry]
Version=1.0
Name=WLAN_Wifi
Comment=WIFI settings for Computer
Exec=alacritty --class=Impala --title=WLAN_Wifi -e impala
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/wlan.png
Categories=GTK;
StartupNotify=false

