[Desktop Entry]
Version=1.0
Name=Twitter/X
Comment=Twitter
Exec=omarchy-launch-webapp "https://x.com/"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/twitter.png
StartupNotify=true
