[Desktop Entry]
Version=1.0
Name=Twitter/X
Comment=Twitter
Exec=brave --new-window --ozone-platform=wayland --app="https://x.com/" --name="Twitter" --class="X"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/twitter.png
StartupNotify=true
