[Desktop Entry]
Version=1.0
Name=YouTube
Comment=YouTube
Exec=chromium --new-window --ozone-platform=wayland --app="https://youtube.com/" --name="YouTube" --class="YouTube"
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/YouTube.png
StartupNotify=true
