#!/bin/bash

# This hook is called with the snake-cased name of the theme that has just been set.
# To put it into use, remove .sample from this file name.

# Example: Show the name of the theme that was just set.
# notify-send -u low "New theme" "Your new theme is $1"
