* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}

@import "../omarchy/current/theme/waybar.css";
