div[data-path$='assets'],
div[data-path$='assets']+div.nav-folder-children {
	display: none;
}


.backlink-pane {
	font-size: 12px;
}

div[data-path$='.png'] {
	display: none;
}

div[data-path$='.jpg'] {
	display: none;
}

div[data-path$='.jpeg'] {
	display: none;
}

div[data-path$='.webp'] {
	display: none;
}

