[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT
Exec=omarchy-launch-webapp https://chatgpt.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/ChatGPT.png
StartupNotify=true
