[Desktop Entry]
Version=1.0
Name=Disk Usage
Comment=Disk Usage
Exec=alacritty --class TUI.float -e bash -c 'dust -r; read -n 1 -s'
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/Disk Usage.png
StartupNotify=true
