[Desktop Entry]
Version=1.0
Name=GitHub
Comment=GitHub
Exec=omarchy-launch-webapp https://github.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/GitHub.png
StartupNotify=true
