[Desktop Entry]
Version=1.0
Name=HEY
Comment=HEY
Exec=omarchy-launch-webapp https://app.hey.com
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/HEY.png
StartupNotify=true
