[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp
Exec=omarchy-launch-webapp https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/WhatsApp.png
StartupNotify=true
