[Desktop Entry]
Version=1.0
Name=X
Comment=X
Exec=omarchy-launch-webapp https://x.com/
Terminal=false
Type=Application
Icon=/home/sspaeti/.local/share/applications/icons/X.png
StartupNotify=true
